<template>
    <div class="main">

            <!--后加导航-->
            <!--后加END-->
            <!--后加图片-->
            <div class="main-carousel">
                <div class="container">
                    <transition-group name="fade" tag="div" class="fade">
                        <div class="fade-item" v-for="(item,index) in fadeItems" v-show="index === curIndex" :key="item.imgUrl">

                                <img :src="item.imgUrl" alt="">

                        </div>
                    </transition-group>
                </div>
            </div>
            <!--后加图片end-->

            <div class="main-box">
                <div class="main">
                </div>
            </div>
        </div>

</template>

<script>
import {mapGetters} from 'vuex'
export default {
  name: 'Home',
  data () {
    return {
      //  后加
      curIndex: 0,
      timeId: '',
      fadeItems: [
        {imgUrl: './static/img/HOME.png', link: 'https://item.mi.com/buyphone/redmi4x'}
      ],
      selected: '',
      isNavEnter: false,
      isMenuEnter: false,
      //  后加end

      // 轮播图sb路径
      imgBlock1: '',
      imgBlock2: '',
      imgBlock3: '',
      activeName: '-2',
      all: '全部'
    }
  },

  created () {
  },
  activated () {
  },
  watch: {
  },
  computed: {
    ...mapGetters({
      userRoleId: 'user/getroleId',
      userId: 'user/getUserId'
    })
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>

</style>
